body, html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body
{
    background-color: #F2F2F2;
}

p, h1, h2, h3, li, td
{
    font-family: sans-serif;
    color: #303030;
    text-align: justify;
}

h1, h2, h3
{
    font-size: 1.2em;
}

p, li, a
{
    font-size: 1em;
}

a
{
    font-family: sans-serif;
    color: #383B73;
}

#coding li
{
    list-style-type: disc !important;
    display: list-item !important;
}

li
{
    list-style-type: none;
}

li[id="buildversion"]
{
    margin-top: 30px;
}

tt
{
    font-family: monospace;
}

.source p
{
    margin: 20px 0px 20px 20px !important;
    font-family: monospace !important;
}

.centerAlign img
{
    display: block;
    margin: 20px auto 20px auto;
}

.container
{
    position: relative;
    left: 50%;
    width: 860px;
    margin: 30px 0px 30px -430px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.background
{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0px;
    left: 0px;
    background-image: url("../../res/bg.png");
}

.menu, .footer
{
    position: relative;
    width: 900px;
    height: 70px;
    margin-left: -30px;
    padding-left: 10px;    
    background: rgb(5,50,89);
    background: -moz-linear-gradient(45deg, rgba(5,50,89,1) 0%, rgba(5,50,89,1) 40%, rgba(7,64,115,1) 40%, rgba(7,64,115,1) 60%, rgba(31,83,115,1) 60%, rgba(31,83,115,1) 70%, rgba(55,116,140,1) 70%, rgba(55,116,140,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(5,50,89,1)), color-stop(40%,rgba(5,50,89,1)), color-stop(40%,rgba(7,64,115,1)), color-stop(60%,rgba(7,64,115,1)), color-stop(60%,rgba(31,83,115,1)), color-stop(70%,rgba(31,83,115,1)), color-stop(70%,rgba(55,116,140,1)), color-stop(75%,rgba(55,116,140,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053259', endColorstr='#ffffff',GradientType=1 );
}

.footer
{
    background: rgb(5,50,89);
    background: -moz-linear-gradient(-45deg, rgba(5,50,89,1) 0%, rgba(5,50,89,1) 40%, rgba(7,64,115,1) 40%, rgba(7,64,115,1) 60%, rgba(31,83,115,1) 60%, rgba(31,83,115,1) 70%, rgba(55,116,140,1) 70%, rgba(55,116,140,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(5,50,89,1)), color-stop(40%,rgba(5,50,89,1)), color-stop(40%,rgba(7,64,115,1)), color-stop(60%,rgba(7,64,115,1)), color-stop(60%,rgba(31,83,115,1)), color-stop(70%,rgba(31,83,115,1)), color-stop(70%,rgba(55,116,140,1)), color-stop(75%,rgba(55,116,140,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(135deg, rgba(5,50,89,1) 0%,rgba(5,50,89,1) 40%,rgba(7,64,115,1) 40%,rgba(7,64,115,1) 60%,rgba(31,83,115,1) 60%,rgba(31,83,115,1) 70%,rgba(55,116,140,1) 70%,rgba(55,116,140,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053259', endColorstr='#ffffff',GradientType=1 );
}

.menu img
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
}

.menu h1
{
    position: relative;
    top: 5px;
    left: 60px;
    display: inline-block;
    font-size: 1.5em;
    color: white;
}

.menu a, .footer a
{
    position: relative;
    top: 28px;
    margin: 0 5px 0 5px;
    display: inline-block;
    float: right;
    font-size: 0.8em;
}

.footer a[class="top"]
{
    position: absolute;
    color: white;
}

.stripe
{
    position: relative;
    height: 5px;
    width: 920px;
    margin-left: -30px;
    background-color: #ccc;
}

.footer .stripe
{
    display: block;
    position: absolute;
    bottom: 0px;
    margin-bottom: -20px;
}

.margin-bottom
{
    margin-bottom: 30px;    
}

.margin-top
{
    margin-top: 30px;
}

hr
{
    display: block;
    border: 0px solid;
    height: 10px;
    background: #ccc;
    width: 920px;
    margin-left: -10px;
}

span[class="subtitle"]
{
    font-family: sans-serif;
    color: #303030;
    text-align: justify;    
}

pre[class="cpp"]
{
    margin-left: 40px;    
}

pre[class="cpp"] span[class="type"]
{
    color: #800080;
}

pre[class="cpp"] span[class="keyword"]
{
    color: #808000;
}

pre[class="cpp"] span[class="operator"]
{
    color: #008000;
}

pre[class="cpp"] span[class="comment"]
{
    color: #008000;
}

.alignedsummary .memItemRight .preprocessor
{
    color: #008000;
}

a[name="toc"]
{
    color: #303030;   
}

.title::before, a[name="properties"]::before, a[name="public-functions"]::before, .descr::before, .prop::before, .func::before
{
    content: " ";
    display: block;
    width: 920px;
    height: 5px;
    margin: 40px 0px 40px -30px;
    background: rgb(204,204,204);
    background: -moz-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(204,204,204,1)), color-stop(75%,rgba(204,204,204,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 75%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=1 );
}

.propsummary
{
    
}

.propsummary .fn
{
    color: #800080; 
}

.propsummary a
{
    
}

.alignedsummary .memItemLeft
{
    color: #800080;
}

.alignedsummary .memItemRight span[class="name"]
{
    color: #008000;
}

.prop h3[class="fn"], .func h3[class="fn"]
{
    background: rgb(244,244,244);
    background: -moz-linear-gradient(left, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=1 );
    margin-left: -30px;
    padding: 5px 0px 5px 30px;
}

.prop h3[class="fn"]
{
    margin-top: 40px;
}

.func .fn
{
    color: #303030;
}

.func span[class="name"]
{
    color: #008000;
}

.func span[class="type"]
{
    color: #800080;
}

table[class="tplugins"]
{
    border: none;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    border-spacing: 0;
    border-collapse: collapse;
    width: 920px;
    margin-left: -30px;
}

table[class="tplugins"] tr:nth-child(odd)
{
    background: rgb(244,244,244);
    background: -moz-linear-gradient(left, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=1 );
}

table[class="alignedsummary"]
{
    margin-left: 37px;  
}

table[class="generic"]
{
    margin-left: 37px;  
}

table[class="generic"] th
{
    font-family: sans-serif;
    text-align: left;
}

tr[class="odd"] td, tr[class="even"] td
{
    min-width: 160px;
    padding-top: 5px;
}

.tdname
{
    width: 190px;
    padding-left: 30px;
}

.tddesc
{
    width: 550px;    
}

.tddesc p
{
   margin: 10px 0px 10px 0px !important; 
}

.tdlink
{
    width: 120px;
    text-align: right;
    padding-right: 30px;
}

.text-block
{
    margin: 10px 0px 10px 0px;
}

.text-block p, .text-block li
{
    font-family: sans-serif;
    margin: 5px 0px 5px 0px;
    display: block;
    text-align: justify;
    font-size: 1em;
    line-height: 1.4em;
    color: #303030;    
}

.text-block li
{
    list-style-type: none;
}

.text-block h1
{
    width: 900px;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #303030;     
}

.text-block h2
{
    width: 900px;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    color: #303030;     
}

.text-block h3
{
    width: 900px;
    font-family: sans-serif;
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #303030;    
}

.text-block h4
{
    width: 900px;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    color: #303030;    
}

.text-block .code
{
    position: relative;
    width: 900px;
    height: auto;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
}

.text-block .code p
{
    font-family: monospace;
    display: inline-block;
    text-align: justify;
    margin: 5px 0px 5px 0px;
    font-size: 1em;
    line-height: 1.3em;
    color: #303030;     
}